databases:
- database_name: open_lmis_reporting
  expose_in_sqllab: true
  extra: "{\r\n    \"metadata_params\": {},\r\n    \"engine_params\": {}\r\n}\r\n"
  sqlalchemy_uri: postgresql+psycopg2://postgres:p@ssw0rd@db:5432/open_lmis_reporting
  tables:
  - columns:
    - {avg: true, column_name: durationinmonths, sum: true, type: INTEGER}
    - {column_name: description, type: TEXT}
    - {column_name: enddate, is_dttm: true, type: DATE}
    - {column_name: id, type: UUID}
    - {column_name: name, type: TEXT}
    - {column_name: processingschedulecode, type: UUID}
    - {column_name: processingscheduleid, type: UUID}
    - {column_name: processingschedulename, type: UUID}
    - {column_name: startdate, is_dttm: true, type: DATE}
    main_dttm_col: enddate
    metrics:
    - {expression: AVG(durationinmonths), metric_name: avg__durationinmonths, metric_type: avg}
    - {expression: COUNT(*), metric_name: count, metric_type: count, verbose_name: COUNT(*)}
    - {expression: SUM(durationinmonths), metric_name: sum__durationinmonths, metric_type: sum}
    schema: ''
    table_name: processing_periods
  - columns:
    - {avg: true, column_name: displayorder, sum: true, type: INTEGER}
    - {avg: true, column_name: dosesperpatient, sum: true, type: INTEGER}
    - {avg: true, column_name: netcontent, sum: true, type: BIGINT}
    - {avg: true, column_name: orderablecategorydisplayorder, sum: true, type: INTEGER}
    - {avg: true, column_name: packroundingthreshold, sum: true, type: BIGINT}
    - {avg: true, column_name: priceperpack, sum: true, type: DOUBLE PRECISION}
    - {column_name: active, type: BOOLEAN}
    - {column_name: code, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: description, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: dispensableid, type: UUID}
    - {column_name: extradata, type: JSONB}
    - {column_name: fullproductname, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: fullsupply, type: BOOLEAN}
    - {column_name: id, type: UUID}
    - {column_name: orderablecategorydisplayname, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: orderabledisplaydategoryid, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: programid, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: roundtozero, type: BOOLEAN}
    - {column_name: tradeitemid, filterable: true, groupby: true, type: VARCHAR(255)}
    metrics:
    - {expression: AVG(displayorder), metric_name: avg__displayorder, metric_type: avg}
    - {expression: AVG(dosesperpatient), metric_name: avg__dosesperpatient, metric_type: avg}
    - {expression: AVG(netcontent), metric_name: avg__netcontent, metric_type: avg}
    - {expression: AVG(orderablecategorydisplayorder), metric_name: avg__orderablecategorydisplayorder,
      metric_type: avg}
    - {expression: AVG(packroundingthreshold), metric_name: avg__packroundingthreshold,
      metric_type: avg}
    - {expression: AVG(priceperpack), metric_name: avg__priceperpack, metric_type: avg}
    - {expression: COUNT(*), metric_name: count, metric_type: count, verbose_name: COUNT(*)}
    - {expression: SUM(displayorder), metric_name: sum__displayorder, metric_type: sum}
    - {expression: SUM(dosesperpatient), metric_name: sum__dosesperpatient, metric_type: sum}
    - {expression: SUM(netcontent), metric_name: sum__netcontent, metric_type: sum}
    - {expression: SUM(orderablecategorydisplayorder), metric_name: sum__orderablecategorydisplayorder,
      metric_type: sum}
    - {expression: SUM(packroundingthreshold), metric_name: sum__packroundingthreshold,
      metric_type: sum}
    - {expression: SUM(priceperpack), metric_name: sum__priceperpack, metric_type: sum}
    schema: ''
    table_name: orderables
  - columns:
    - {column_name: classificationid, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: classificationsystem, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: id, type: UUID}
    - {column_name: name, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: parentid, type: UUID}
    metrics:
    - {expression: COUNT(*), metric_name: count, metric_type: count, verbose_name: COUNT(*)}
    schema: ''
    table_name: commodity_types
  - columns:
    - {column_name: classificationid, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: classificationsystem, filterable: true, groupby: true, type: VARCHAR(255)}
    - {column_name: id, type: UUID}
    - {column_name: manufactureroftradeitem, filterable: true, groupby: true, type: VARCHAR(255)}
    metrics:
    - {expression: COUNT(*), metric_name: count, metric_type: count, verbose_name: COUNT(*)}
    schema: ''
    table_name: trade_items
  - columns:
    - {avg: true, column_name: amount, sum: true, type: INTEGER}
    - {column_name: commoditytypeid, type: UUID}
    - {column_name: facilityid, type: UUID}
    - {column_name: id, type: UUID}
    - {column_name: processingperiodid, type: UUID}
    metrics:
    - {expression: AVG(amount), metric_name: avg__amount, metric_type: avg}
    - {expression: COUNT(*), metric_name: count, metric_type: count, verbose_name: COUNT(*)}
    - {expression: SUM(amount), metric_name: sum__amount, metric_type: sum}
    schema: ''
    table_name: ideal_stock_amounts
  - columns:
    - {column_name: code, type: TEXT}
    - {column_name: comment, type: TEXT}
    - {column_name: country, type: TEXT}
    - {column_name: description, type: TEXT}
    - {column_name: district, type: TEXT}
    - {column_name: enabled, type: BOOLEAN}
    - {column_name: extradata, type: JSONB}
    - {column_name: godowndate, is_dttm: true, type: DATE}
    - {column_name: golivedate, is_dttm: true, type: DATE}
    - {column_name: id, type: UUID}
    - {column_name: location, type: UNKNOWN}
    - {column_name: name, type: TEXT}
    - {column_name: openlmisaccessible, type: BOOLEAN}
    - {column_name: operator_code, type: TEXT}
    - {column_name: operator_id, type: TEXT}
    - {column_name: operator_name, type: TEXT}
    - {column_name: region, type: TEXT}
    - {column_name: status, type: BOOLEAN}
    - {column_name: type, type: TEXT}
    main_dttm_col: godowndate
    metrics:
    - {expression: COUNT(*), metric_name: count, metric_type: count, verbose_name: COUNT(*)}
    schema: ''
    table_name: facilities
  - columns:
    - {column_name: facility, filterable: true, groupby: true, type: VARCHAR}
    - {column_name: username, filterable: true, groupby: true, type: VARCHAR}
    metrics:
    - {expression: COUNT(*), metric_name: count, metric_type: count, verbose_name: COUNT(*)}
    schema: ''
    table_name: facility_acess
