version: "3.3"

services:
  consul:
    command: -server -bootstrap
    image: gliderlabs/consul-server
    ports:
      - "8300"
      - "8400"
      - "8500:8500"
      - "53"

  nifi:
    image: apache/nifi:${OL_NIFI_VERSION}
    ports:
      - "8080:8080"
      - "9443:9443"

  db:
    image: openlmis/postgres:${OL_POSTGRES_VERSION}
    env_file: ../settings.env
    command: >
        bash -c "createdb superset"
    depends_on: [consul]

  zookeeper:
    image: confluentinc/cp-zookeeper:${OL_ZOOKEEPER_VERSION}
    environment:
      - ZOOKEEPER_CLIENT_PORT=32181
      - ZOOKEEPER_TICK_TIME=2000
      - ZOOKEEPER_SYNC_LIMIT=2

  kafka:
    image: confluentinc/cp-kafka:${OL_KAFKA_VERSION}
    environment:
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:32181
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:29092
      - KAFKA_BROKER_ID=2
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1

  superset:
    image: amancevice/superset:${OL_SUPERSET_VERSION}
    ports:
        - "8088:8088"
    volumes:
      - ./superset:/etc/superset
    command: >
        bash -c "fabmanager create-admin --app superset --username admin --firstname Admin --lastname Admin --email noreply --password password
        && superset db upgrade
        && superset init"
    depends_on: [db]
