user nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  10000;
    multi_accept on;
    use epoll;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] '
            '"$request" $status $body_bytes_sent '
            '"$http_referer" "$http_user_agent" "$http_x_forwarded_for" '
            '$request_time $upstream_connect_time '
            '$upstream_header_time $upstream_response_time '
            '$pipe';

    access_log  /var/log/nginx/access.log  main;
    error_log   /var/log/nginx/error.log   info;

    sendfile        on;
    tcp_nopush      on;
    tcp_nodelay     on;

    keepalive_timeout  65;

    gzip  off;

    server {
        listen 80;
        server_name ${VIRTUAL_HOST};

        location /.well-known/acme-challenge/ {
            root /var/www/certbot;
        }

        location / {
            return 301 https://$server_name$request_uri;
        }
    }

    server {
        listen 443 ssl;
        server_name ${VIRTUAL_HOST};

        ssl_certificate           /etc/letsencrypt/live/${VIRTUAL_HOST}/fullchain.pem;
        ssl_certificate_key       /etc/letsencrypt/live/${VIRTUAL_HOST}/privkey.pem;
        include                   /etc/nginx/options-ssl-nginx.conf;
        ssl_dhparam               /etc/nginx/ssl-dhparams.pem;

        location / {
            proxy_pass http://nginx-nifi/;
            proxy_set_header Host $host:$server_port;
            proxy_set_header X-ProxyScheme "https";
            proxy_set_header X-ProxyHost ${VIRTUAL_HOST};
            proxy_set_header X-ProxyPort 443;
            proxy_set_header X-ProxyContextPath "";
        }
    }

    server {
        listen ${SUPERSET_WEB_PORT} ssl;
        server_name ${VIRTUAL_HOST};

        ssl_certificate           /etc/letsencrypt/live/${VIRTUAL_HOST}/fullchain.pem;
        ssl_certificate_key       /etc/letsencrypt/live/${VIRTUAL_HOST}/privkey.pem;
        include                   /etc/nginx/options-ssl-nginx.conf;
        ssl_dhparam               /etc/nginx/ssl-dhparams.pem;

        # Redirect http to https
        error_page 497  https://$host:$server_port$request_uri;

        location / {
            proxy_pass http://superset:8088/;
            proxy_set_header Host $host:$server_port;
            proxy_set_header X-ProxyScheme "https";
            proxy_set_header X-ProxyHost ${VIRTUAL_HOST};
            proxy_set_header X-ProxyPort ${SUPERSET_WEB_PORT};
            proxy_set_header X-ProxyContextPath "";

            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Ssl on;
            proxy_set_header X-Forwarded-Proto https;
        }
    }
}
